body {
    padding-top: 50px;
}

.principal {
    padding: 40px 15px;
    text-align: center;
}

/* GLOBAIS */
form {margin: 0;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {padding: 1em;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {vertical-align: middle;}

.text-bold {font-weight: bold;}
.text-center {text-align: center;}
.text-direita {text-align: right;}
.center {text-align: center;}


.esquerda { width: 50%; float: left; }
.direita  { width: 50%; float: right; }
.logo { margin-top: -11px;}
.login { width: 500px; height: 100%; display: block; margin-left: auto; margin-right: auto; }